html,body,div,ul,li,img,p,ol,label,input{
	padding:0;
	margin:0;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}

#container .progress{
	height:200px;
	width:1200px;
	margin:100px auto;
	background:#F5F5F5;
}
#container .progress li{
	float:left;
	width:300px;
	height:200px;
	text-align:center;
}
#container .progress li p{
	height:80px;
	width:80px;
	border-radius:50%;
	background:#9fa0a0;
	font-size:28px;
	line-height:80px;
	font-weight:900;
	color:#FFF;
	margin:30px auto;
}
#container .progress li span{
	font-size:20px;
	font-weight:900;
}

#container .content{
	width:380px;
	margin:0 auto;
	position:relative;
	height:300px;
	overflow:hidden;
}
#container .content li{
	width:380px;
	position:absolute;
	left:0;
	top:350px;
}
#container .content label{
	color:#444;
	margin-bottom:15px;
}
#container .content input{
	border:1px solid #999;
	width:280px;
	height:30px;
	border-radius:2px;
	outline:none;
	margin-bottom:15px;
}
#container .content li select{
	width:280px;
	height:35px;
	text-indent:8px;
	margin-bottom:15px;
} 
#container .content li:nth-child(4){
	text-align:center;
}
#container .content li img{
	height:150px;
}
#container .content li a{
	display:block;
	height:35px;
	width:100px;
	line-height:35px;
	color:#FFF;
	font-size:20px;
	background:#4692F4;
	border-radius:3px;
	border-bottom:1px solid #266ECB;
	text-align:center;
	margin:30px auto;
}