html,body,div,ul,li,p,input,button,img,ol,dl,dt,dd{
	margin:0;
	padding:0;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	border:0;
}

body{
	/*background:url(../images/bg.png) repeat 0 0;*/
	/*background:#FBFBEA;*/
	/*background:#F5F6EB;*/
	background:#F3F2ED;
	width:100%;
}
#box{
	width:100%;
}

header,header a{
	width:100%;
	height:100px;
}
header a{
	display:block;
	background:url(../images/banner.gif) no-repeat 0 0;
	opacity:0.5;
	background-size:100% 100px;
}

#login{
	width:100%;
	height:28px;
	background:#333;
}
#login div{
	width:1200px;
	margin:0 auto;
	line-height:28px;
	position:relative;
	height:28px;
	color:#FFF;
}
#login div form{
	position:absolute;
	right:400px;
	top:28px;
	z-index:20;
}
#login div ol li{
	position:absolute;
	left:0;
	top:0;
	padding:20px;
	background:#333;
	width:310px;
	padding:0 20px;
}
#login ol li label{
	width:80px;
	display:inline-block;
	text-align:right;
}
#login .log{
	display:none;
	height:280px;
}
#login .reg{
	display:none;
	height:250px;
}
#login .form-group{
	float:left;
	margin-bottom:14px;
}
#login p{
	margin-bottom:5px;
	font-size:14px;
	height:22px;
}
#login .form-group input{
	outline:0;
	border:0;
	height:22px;
	border-radius:5px;
	padding-left:15px; 
}
#private-save{
	padding:8px 17px;
	border:0;
	border-radius:5px;
	font-size:16px;
	background:skyblue;
	cursor:pointer;
	outline:0;
	margin-left:270px;
	margin-top:5px;
}
#login .sanjiao{
	position:absolute;
	color:#C71220;
	z-index:30;
	top:-18px;
	display:none;
}
#login .check-code input{
	width:80px;
}
#login .check-code img{
	vertical-align:middle;
}
#login div p{
	float:right;
	margin-right:50px;
}
#login p a{
	float:left;
	padding:0 5px;
	color:#A8A8A8;
	font-size:13px;
}
#login p a:hover{
	color:#C71220;
}
#login p a:nth-child(1),#login p a:nth-child(3){
	color:#FFF;
	padding:0 10px;
}
#login p a:nth-child(3){
	margin-right:20px;
}
#login p a:nth-child(1):hover,#login p a:nth-child(3):hover{
	background:#C71220;
}
#login p span{
	float:left;
	margin:0 8px;
}
#nav{
	width:100%;
	height:80px;
}
#nav ul{
	width:1200px;
	margin:0 auto;
}
#nav ul li{
	float:left;
	padding:0 30px;
	line-height:80px;
}
#nav ul li:nth-child(1){
	margin-left:280px;
}
#nav ul li a{
	color:#000;
}
#nav ul li a:hover{
	color:#C71220;
}
#nav ul li a span{
	color:#C71220;
	font-size:20px;
}

#infor{
	width:1200px;
	margin:10px auto;
}
#infor div{
	margin:0 auto;
	background:#E5EAEE;
	border:1px solid #999;
	width:600px;
}
#infor div h3{
	margin-left:30px;
	margin-top:30px;
}
#infor ul{
	width:400px;
	padding:10px 100px;
}
#infor ul li{
	margin-top:20px;
}
#infor .form-group label{
	width:80px;
	text-align:right;
	display:inline-block;
}
#infor ul li input{
	width:280px;
	height:30px;
	border:0;
	border-radius:5px;
	outline:0;
	border:1px solid #333;
	padding-left:10px;
}
#infor button{
	width:80px;
	height:40px;
	border:0;
	border-radius:5px;
	font-size:16px;
	background:#666;
	cursor:pointer;
	outline:0;
	margin-left:260px;
	margin-top:30px;
	margin-bottom:50px;
	color:#FFF;
}